@using Flycamera.App_Start


<div class="popup-product">
	<div class="overlay"></div>
	<div class="box-content" data-state="">
		<div class="header-popup">
			<h1>Choose Videos</h1>
			<a href="javascript:;" class="close-popup" data-popup=".popup-product">x</a>
		</div>
		<div class="primary-popup product-list-choose">
			<table width="100%" cellspacing="0" cellpadding="0" class="responstable">
				<thead>
					<tr>
						<th >Title</th>
						<th width="10%">Video Link</th>
						<th width="180">Image</th>
						<th width="15%">Control</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row-1">
						<td>1</td>
						<td>San Pham 1</td>
						<td>San Pham 1 noi dung</td>
						<td class="control">
							<a title="Choose" href="#" class="button chose-video">Choose</a>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		<div class="footer-popup">
			<input type="text" value="" placeholder="typing product name" class="input-filter" />
		</div>
	</div>
</div>