@using Flycamera.App_Start


<div class="popup-product">
    <div class="overlay"></div>
    <div class="box-content" data-state="">
        <div class="header-popup">
            <h1>Review Content</h1>
            <a href="javascript:;" class="close-popup" data-popup=".popup-product">x</a>
        </div>
        <div class="primary-popup product-list-choose container-content-review">
           
        </div>
    </div>
</div>