@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}


@section bodyContent
{
   <section class="wrapper__banner wrapper__banner--gallery">
    <!-- <div class="wrapper"> -->
    <div class="wrapper__banner--container">

        <div class="wrapper__banner--list ">
            <ul ng-controller="bannerServices-ctrl">
                <li ng-repeat="item in resultBanner" ng-repeat-end-watch="initBannerList">
                    <img src="{{item.imglink}}" alt="{{item.title}}">
                </li>
            </ul>
        </div>
        <p class="jcarousel-pagination"></p>
    </div>
    <!-- </div> -->
</section>

<section class="wrapper__Quotation">
    <div class="wrapper">

    </div>
</section>

<section class="wrapper__news" ng-controller="BlogPostController">
    <div class="wrapper">
        <div class="wrapper__news--left">
            <ul class="wrapper__news--list">
                <li ng-repeat="item in resultBlogpost">
                    <h1 class="wrapper__news--title">{{item.title}}</h1>
                    <p class="wrapper__news--Date">
                        {{item.date}}
                    </p>
                    <div class="wrapper__news--img">
                        <img src="{{item.imglink}}" width="385" height="250" alt="{{item.title}}">
                    </div>
                    <div class="wrapper__news--describ">
                        {{item.shortcontent}}
                        <a href="/dich-vu/bai-viet/{{seoUrl(item.title)}}-{{item.id}}" title="Continue reading" class="wrapper__news--btnmore">Continue reading</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
}
