@using Flycamera.App_Start
<div class="popup-signIn--user">
    <div class="popup-header--user">
        <h1>Sign In</h1>
    </div>
    <div class="popup-content--user">
        @{Html.RenderPartial(@StaticVariableAdministrator._boxLogin);}
    </div>
</div>
<div class="overlayLogin"></div>
